{% extends './layout.html' %}

{% block title %}Menu Principal{% endblock %}

{% block body %}
<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a href="{{url_for('menu')}}" class="navbar-brand">Menu</a>
          </li>
          <li class="nav-item">
            <a href="{{url_for('listar_usuario')}}" class="navbar-brand">Usuarios</a>
          </li>
          <li class="nav-item">
            <a href="{{url_for('listar_productos')}}" class="navbar-brand">Productos</a>
          </li>
          <li class="nav-item">
            <a href="{{url_for('listar_empleados')}}" class="navbar-brand">Empleados</a>
          </li>
        </ul>
        <i class="fas fa-user navbar-brand"> : </i><label class="navbar-brand"> {{session['usuario']}} </label>
        <a href="{{url_for('logout')}}" class="navbar-brand text-decoration-none"> Salir <i class="fa-solid fa-rectangle-xmark"></i></a>
      </div>
    </div>
  </nav>
</br></br>
<div class="text-center container">
    <h1>Menu Principal</h1>
</br></br>
    <div class="form-floating mb-3">
        <a href="{{url_for('listar_usuario')}}" class="btn btn-primary mb-3 w-50 btn-lg">Usuarios  <i class="fas fa-users"></i></a>
    </div>
    <div class="form-floating mb-3">
        <a href="{{url_for('listar_productos')}}" class="btn btn-primary mb-3 w-50 btn-lg">Productos  <i class="fas fa-box"></i></a>
    </div>
    <div class="form-floating mb-3">
      <a href="{{url_for('listar_empleados')}}" class="btn btn-primary mb-3 w-50 btn-lg">Empleados  <i class="fas fa-users"></i></a>
    </div>
    <img src="/static/imagenes/city.png" alt="Imagen2">
</div>

{% endblock %}